<!-- Services Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">"Life's too short to build something nobody wants" -Ash Maurya</h2>
                    <h3 class="section-subheading text-muted">Empower yourself to build stunning valuable and meaningful products</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Empathize</h4>
                    <p class="text-muted">Identify problem spaces and market opportunities. Hold empathy with the customers to understand their needs.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Envision</h4>
                    <p class="text-muted">Define the reason to build a product, and what needs to be built. Prioritize and solve the most important problems first. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-space-shuttle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Engage</h4>
                    <p class="text-muted">Bring in cross-functional teams to turn an idea into a launched product. Lead the teams in realizing the long-term vision of the product.</p>
                </div>
            </div>
        </div>
    </section>
