<section id="corperate_partner" style="background-color:#f7f7f7;">
  <div class="container">
    <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Get mentored by the professionals that know PM best</h2>
                    <h3 class="section-subheading text-muted">Learn from the founders of Prioritized as you work on their new product, Subbed</h3>
                </div>
    </div>
    <div class="row">
                <div class="col-lg-12 text-center">
                  <img src="img/logos/subbed-logo (1).jpg" class="img-responsive img-centered" alt="subbed_logo" style="max-width:300px;">
                  <h3 class="section-subheading" style="font-family:Roboto, sans-serif;margin-left: auto;margin-right: auto;max-width:500px">Subbed is the fasted way to get started selling online. It’s a seamless way to charge for subscription services and physical or digital goods.</h3>
                </div>
    </div>
    <div class="row">
                <div class="col-md-6 col-xs-12 text-center">
                  <div class="card">
                    <img src="img/corperate_partners/chris-headshot (1).jpg" alt="Avatar" style="width:100%;border-radius:300px;">
                      <div class="partner_description">
                        <h4><b>Chris Hendel</b></h4>
                        <p>Co-founder & CEO</p>
                        <p>Chris has a background in product management and software engineering at various venture backed 
                          startups. He’s seen billion dollar valuations go to zero, rocketship growth reach IPO, and everything
                          in between. Chris has been a partner at an early stage investment fund for YC companies. He is 
                          currently focused on building his two bootstrapped startups — Prioritized and Subbed.
                        </p>
                      </div>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12 text-center">
                  <div class="card">
                    <img src="img/corperate_partners/andrew-headshot (1).jpg" alt="Avatar" style="width:100%;border-radius:300px;">
                      <div class="partner_description">
                        <h4><b>Andrew Bass</b></h4>
                        <p>Co-founder & COO</p>
                        <p>Andrew has a background in finance, operations, and software development. Andrew worked as an 
                          Investment Advisor to high net worth individuals and then made a transition to startups by working 
                          as the Director of Growth for a startup design firm and then bootstrapping a finance app called 
                          Fehu. He’s now focused on building Prioritized and Subbed as well.
                        </p>
                      </div>
                  </div>
                </div>
    </div>
  </div>
</section>
