<section id="fmwork">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Product Management Lab</h2>
                    <h3 class="section-subheading text-muted">Design valuable features for partner tech startupts through our 10 week program</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/lab/Lab0_4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 1: Ideate</h4>
                                    <h4 class="subheading">Identify the problem you want to solve</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Identify and become an "expert" the problem that you will be solving for the product that you are working on.</br>
                                   <!-- <span class="in-schedule">
                                    </br>Aug.27 Information Session
                                    </br>Sep.3 Team Building Workshop
                                    </span></p> -->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/lab/Lab1_3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 2: Design</h4>
                                    <h4 class="subheading">Create a lo-fidelity prototype</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Create a lo-fidelity prototype, such as a user story or storyboard, for your solution.</br>
                                    <span class="in-schedule">
                                    <!-- </br>Sep.3  &nbsp; Team Building
                                    </br>Sep.11  &nbsp; Lab #1: Ideate 
                                    </br>Sep.25 Lab #2: Design
                                    </br>Oct.9  &nbsp; Lab #3: Build
                                    </br>Oct.30 Lab #4: Learn
                                    </br>Nov.13 Lab #5: Iterate</span></p> -->
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/lab/InvitedTalk1_4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 3: Build</h4>
                                    <h4 class="subheading">Create a hi-fidelity prototype</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Learn about and create a testable MVP for your solution bsed on your lo-fidelity prototype. 
                                    <!-- <span class="in-schedule">
                                    </br></br>*Sep.17  &nbsp; PM Club x Microsoft PM
                                    </br>Oct.2 Invited Talk #2: TBA
                                    </br>Oct.23  &nbsp; Invited Talk #3: TBA
                                    </br>Nov.6 Invited Talk #4: TBA
                                    </span> -->
                                </div>
                            </div>
                        </li>
                       <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/lab/lab3.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 4: Learn</h4>
                                    <h4 class="subheading">Test your initial assumptions</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Test your initial assumptions by gathering customer feedback on your MVP.</br>
                                    <span class="in-schedule">
                                    <!-- </br>Sep.3  &nbsp; Team Building
                                    </br>Sep.11  &nbsp; Lab #1: Ideate 
                                    </br>Sep.25 Lab #2: Design
                                    </br>Oct.9  &nbsp; Lab #3: Build
                                    </br>Oct.30 Lab #4: Learn
                                    </br>Nov.13 Lab #5: Iterate</span></p> -->
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/lab/lab5.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 5: Iterate</h4>
                                    <h4 class="subheading">Improve your MVP</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Create a more valuable product by iterating on you MVP based the customer feedback that you gathered. 
                                    <!-- <span class="in-schedule">
                                    </br></br>*Sep.17  &nbsp; PM Club x Microsoft PM
                                    </br>Oct.2 Invited Talk #2: TBA
                                    </br>Oct.23  &nbsp; Invited Talk #3: TBA
                                    </br>Nov.6 Invited Talk #4: TBA
                                    </span> -->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/lab/demo event.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Demo Day</h4>
                                    <h4 class="subheading">Pitch your product feature to stakeholders and the rest of the club</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You made through the whole journey! It's time to present your product to others and share what you have created. 
                                    </br>
                                    <!-- <span class="in-schedule">
                                    </br>Nov.20 Demo Day & Networking Event
                                    </span></p> -->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Let us be
                                    <br>a part of
                                    <br> your story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
