<!-- About Section -->
    <section id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">2020 Spring Schedule</h2>
                    <!-- <h3 class="section-subheading text-muted">We host events every Wednesday at 5PM-6PM at Frederick Brooks Buildng 009</h3> -->
                    <h3> </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August - September</h4>
                                    <h4 class="subheading">Info Session & Team Building</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">New to product management and eager to learn more? Those two sessions are where we introduce you the product space and our club values. It's also a great opportunity to connect with each other. </br>
                                    <span class="in-schedule">
                                    </br>Aug.27 Information Session
                                    </br>Sep.3 Team Building Workshop
                                    </span></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September - November</h4>
                                    <h4 class="subheading">Product Management Lab</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">PM Lab is where you can get hands on experinece in product management. Through five sessions, you will group with other students and go through the whole product cycles, which includes ideate, design, build, learn and iterate. </br>
                                    <span class="in-schedule">
                                    </br>Sep.3  &nbsp; Team Building
                                    </br>Sep.11  &nbsp; Lab #1: Ideate 
                                    </br>Sep.25 Lab #2: Design
                                    </br>Oct.9  &nbsp; Lab #3: Build
                                    </br>Oct.30 Lab #4: Learn
                                    </br>Nov.13 Lab #5: Iterate</span></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September - November</h4>
                                    <h4 class="subheading">Invited Talk & Career Panel</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">It's always valuable to connect with professionals from the product field and get to know their expereince. We host host biweekly invited talks and partner with companies for career opportunities.
                                    <span class="in-schedule">
                                    </br></br>*Sep.17  &nbsp; PM Club x Microsoft PM
                                    </br>Oct.2 Invited Talk #2: TBA
                                    </br>Oct.23  &nbsp; Invited Talk #3: TBA
                                    </br>Nov.6 Invited Talk #4: TBA
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November</h4>
                                    <h4 class="subheading">Demo Day & Networking Event</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You made through the whole journey! It's time to present your product to others and share what you have learnt. 
                                    </br>
                                    <span class="in-schedule">
                                    </br>Nov.20 Demo Day & Networking Event
                                    </span></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
